.well{
  margin: 75px;
  margin-top: 50px;
  text-align: center;
  /*vertical-align: middle;*/
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #474645;
  border: 1px solid #302f2e;
}

.description{
  margin-top: 50px;
  margin-bottom: 50px;
}

.werewolf {
  max-width: 20%;
  max-height: 20%;
}

.title-big {
  font-family: 'Creepster', cursive;
  font-size: 60px;
}
